body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('weather.jpg');
  background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat; 
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(2px);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-box {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1d4ed8;
}

.output {
  font-size: 18px;
  line-height: 1.4;
}
